body {
    font-family: 'Mr Darcy W01 Regular', sans-serif;
    background: linear-gradient(135deg, #a7c0cd, #e2eafc);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-login {
    background: #5b8def;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-login:hover {
    background: #447dd0;
}